.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 15px 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.links a:hover {
  color: #38bdf8;
}